* {
    padding: 0;
    margin: 0;
    box-sizing: 0;
}
body {
    font-family: 'Press Start 2P', cursive;
}
html {
    scroll-behavior: smooth;
}
#inicio {
    background-image: url(img/mario.gif);
    background-repeat: no-repeat;
    background-size: 100%;
}
nav {
    display: flex;
    justify-content: space-between;
    height: 60px;
    position: fixed;
    background-color: white;
    width: 100%;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.521);
    font-family: 'Press Start 2P', cursive;
}
nav .bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    margin-right: 50px;
    width: 170px;
    height: 40px;
    background: lawngreen;
    color: #b441b6;
    font-weight: 500;
    text-align: center;
    box-shadow: 5px 5px 0px black;
    font-family: 'Press Start 2P', cursive;
    font-size: 22px;
    text-decoration: none;
}
.bottom {
    text-align: center;
}
.bottom:hover {
    filter: grayscale(0%);
    transform: scale(90%);
}
nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 2rem;
    margin-left: 100px;
}
nav li a {
    font-family: 'Press Start 2P', cursive;
    font-size: 25px;
    text-decoration: none;
    color: rgb(27, 46, 53);
    padding: 3px 7px;
    border: solid 1px transparent;
}
nav li a:hover {
    color: #b441b6;
    border-color: #fdc827;
}

#regras header {
    display: flex;
    padding: 0 90px;
}

main h1 {
    font-family: 'Press Start 2P', cursive;
    width: 1000px;
    color: lawngreen;
    font-size: 120px;
    text-shadow: 10px 10px 0px black;
    margin-top: 50px;
    margin-right: 250px;
    text-align: center;
}
.conteudo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 250px;
}
.conjunto {
    font-family: 'Press Start 2P', cursive;
    color: white;
    font-size: 30px;
    width: 950px;
    font-weight: lighter;
    padding-left: 500px;
    padding-top: 20px;
}
.conjuntos {
    font-family: 'Press Start 2P', cursive;
    color: black;
    font-size: 30px;
    width: 900px;
    font-weight: lighter;
    padding-left: 500px;
    padding-top: 20px;
}
.conjuntos img {
    margin-left: 170px;
}
h3 {
    color: #b441b6;
    padding-top: 30px;
    padding-bottom: 30px;
    text-decoration: none;
}
p {
    line-height: 40px;
}
.conjunt {
    padding-bottom: 150px;
}
section {
    min-height: 100vh;
    padding-top: 3rem;
}
#sobre {
    background-color: rgb(27, 46, 53);
}
#regras {
    background-color: rgb(255, 255, 255);
}
#origem {
    background-color: rgb(27, 46, 53);
}
#estrategia {
    background-color: rgb(255, 255, 255);
}
.final {
    background-color: rgb(27, 46, 53);
    height: 50px;
    color: #fdc827;
    font-family: 'Press Start 2P', cursive;
    font-size: 20px;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
em {
    color: #fdc827;
    font-style: normal;
}
